[Unit]
Description=Zero Axis CM5 save system clock to RTC
ConditionPathExists=/dev/rtc0
After=time-sync.target systemd-timesyncd.service
Wants=time-sync.target

[Service]
Type=oneshot
ExecStart=/opt/metacrust/bin/gateway-cm5-rtc-save.sh

[Install]
WantedBy=multi-user.target
