[Unit]
Description=Zero Axis CM5 load system clock from RTC
DefaultDependencies=no
ConditionPathExists=/dev/rtc0
After=systemd-udevd.service local-fs.target
Before=time-sync.target sysinit.target shutdown.target

[Service]
Type=oneshot
ExecStart=/opt/metacrust/scripts/gateway-cm5-rtc-load.sh

[Install]
WantedBy=sysinit.target
